<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
       <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">-->
    <link rel="stylesheet" href="html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app/app.css">
    <!--<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link href="app/assets/css/c3.min.css" rel="stylesheet" type="text/css" />


    <script src="html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="AppCtrl" ng-cloak md-theme="primary" md-theme-watch layout="column">
    <md-content flex layout="row">
        <md-sidenav md-is-locked-open="$mdMedia('gt-xs')" class="md-sidenav-left"
                    md-component-id="left"
                    md-whiteframe="4" md-theme="altTheme" md-theme-watch ng-style="myStyle" layout="column">
            <md-toolbar class="md-hue-2" layout="row">
                <div class="md-toolbar-tools">
                    <h1 ng-hide="isPinned">
                        Sidenav Left
                    </h1>
                    <span flex ng-hide="isPinned"></span>

                    <md-icon hide-xs style="outline:none" class="material-icons  md-24" ng-click="lock()">
                        sort
                    </md-icon>
                </div>


            </md-toolbar>
            <md-content flex layout-padding ng-controller="LeftCtrl">
                <md-list flex>
                    <md-list-item class="md-2-line" ng-click="Link('/view1')">
                        <md-icon style="margin:12px" class="material-icons  md-24">
                            dashboard
                        </md-icon>
                        <p ng-hide="isPinned">Dashboard</p>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-click="Link('/view2')">
                        <md-icon style="margin:12px" class="material-icons  md-24">
                            my_location
                        </md-icon><p ng-hide="isPinned">Map</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex layout="column">
            <md-toolbar style="background-color:white; color:rgba(0, 0, 0, 0.71)" md-whiteframe="7">
                <div class="md-toolbar-tools">
                    <md-button aria-label="Menu" hide-gt-xs class="md-icon-button" ng-click="toggleLeft()">
                        <md-icon class="material-icons  md-dark md-24">
                            menu
                        </md-icon>
                    </md-button>
                    <h2>
                        <span>Angular seed app: v<span app-version></span></span>
                    </h2>
                    <span flex></span>
                    <div>
                        <md-icon id="Notification_icon" class="material-icons  md-dark md-24">
                            <svg style="position:absolute;" width="10" height="10">
                                <circle cx="5" cy="5" r="5" fill="#ff2828" />
                            </svg>
                            notifications
                        </md-icon>
                        <div id="Notification" md-whiteframe="15" outside-click="Show_Notification_Click()" ng-show="Show_Notification">
                            <md-list flex>
                                <md-subheader ng-if="(Notifications | filter : {Seen:'false'}).length!=0" class="md-no-sticky">{{ (Notifications | filter : {Seen:'false'}).length}} Unread</md-subheader>
                                <md-subheader ng-if="(Notifications | filter : {Seen:'false'}).length==0" class="md-no-sticky">Caught up with everything!</md-subheader>
                                <md-list-item class="md-1-line" ng-repeat="Notification in Notifications | filter : {Seen:'false'}" ng-click="Notification_Click( Notifications.indexOf(Notification))">
                                    <div class="md-list-item-text" layout="row" layout-align="center center">
                                        <md-icon style="margin:0px 10px" class="material-icons md-dark  md-24">
                                            {{Notification.Icon}}
                                        </md-icon>
                                        <p style="font-size:80%;margin:0px;line-height: 1.6;text-wrap:avoid">{{Notification.Name}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                    <div class="User_Button">
                        <label>{{user.Name|titleCase }}</label>
                        <img md-whiteframe="10" class="md-user-avatar" ng-src="{{user.img}}" alt="{{user.Name}}" />
                    </div>
                    <md-button aria-label="Menu" class="md-icon-button" ng-click="toggleRight()">
                        <md-icon class="material-icons  md-dark md-24">
                            chat
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-content flex>
                <div ng-view></div>
                <md-sidenav md-disable-backdrop class="md-sidenav-right md-whiteframe-14dp" md-component-id="right" layout="column">
                    <md-content flex layout="column" layout-wrap>
                        <!--<section flex>
                            <md-subheader md-colors="{background: '{{accent}}-A200'}">Primary Colour change</md-subheader>
                            <div>
                                <md-button style="z-index: 0; border-radius:14%;width:30px;    height: 33px;" class="md-fab" aria-label="Eat cake" ng-repeat="color in colors" md-colors="{background: '{{color}}'}" md-colors-watch="false" ng-click="selectThemePrimary(color)">
                                </md-button>
                            </div>
                            <md-subheader md-colors="{background: '{{accent}}-A200'}">Secondary Colour change</md-subheader>
                            <md-button style="z-index: 0; border-radius:14%;width:30px;    height: 33px;" class="md-fab" aria-label="Eat cake" ng-repeat="color in colors" md-colors="{background: '{{color}}'}" md-colors-watch="false" ng-click="selectThemeAccent(color)">
                            </md-button>
                        </section>-->
                        <md-tabs id="Chat" flex md-border-bottom>
                            <md-tab>
                                <md-tab-label>
                                    <md-icon class="material-icons  md-dark md-24">
                                        people
                                    </md-icon>

                                </md-tab-label>
                                <md-tab-body class="md-padding">
                                    <md-subheader class="md-no-sticky">Online</md-subheader>
                                    <md-list-item ng-repeat="person in people" ng-if="person.Online" ng-click="goToPerson(person, $event)" class="noright">
                                        <div id="Online_circle" ng-class="{'active' : person.Online , 'inactive' : !person.Online}"></div>
                                        <div id="White_circle"></div>
                                        <img alt="{{ person.Name }}" ng-src="{{ person.img }}" class="md-avatar" />
                                        <p>{{ person.Name }}</p>
                                    </md-list-item>
                                    <md-subheader class="md-no-sticky">Offline</md-subheader>
                                    <md-list-item ng-repeat="person in people" ng-if="!person.Online" ng-click="goToPerson(person, $event)" class="noright">
                                        <div id="Online_circle" ng-class="{'active' : person.Online , 'inactive' : !person.Online}"></div>
                                        <div id="White_circle"></div>
                                        <img alt="{{ person.Name }}" ng-src="{{ person.img }}" class="md-avatar" />
                                        <p>{{ person.Name }}</p>
                                    </md-list-item>
                                </md-tab-body>
                            </md-tab>
                            <md-tab>
                                <md-tab-label>
                                    <md-icon class="material-icons  md-dark md-24">
                                        favorite
                                    </md-icon>
                                </md-tab-label>
                                <md-content class="md-padding">
                                </md-content>
                            </md-tab>
                            <md-tab>
                                <md-tab-label>
                                    <md-icon class="material-icons  md-dark md-24">
                                        view_list
                                    </md-icon>
                                </md-tab-label>
                                <md-content class="md-padding">
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </md-sidenav>
                <md-sidenav class="md-sidenav-right md-whiteframe-14dp" md-component-id="right2" layout="column">
                    <md-toolbar style="background-color:white; color:rgba(0, 0, 0, 0.71)">
                        <div class="md-toolbar-tools" layout="row" layout-align="start center">

                            <md-button aria-label="Menu" class="md-icon-button" ng-click="Back_To_Chat()">
                                <md-icon class="material-icons md-dark md-24">
                                    keyboard_arrow_left
                                </md-icon>
                            </md-button>
                            <h2 layout-align="center center">
                                {{Chat_Person.Name}}
                            </h2>
                            <span flex></span>
                            <div id="Online_circle_toolbar" ng-class="{'active' : Chat_Person.Online , 'inactive' : !Chat_Person.Online}"></div>
                            <small ng-if="Chat_Person.Online">Online</small>
                            <small ng-if="!Chat_Person.Online">Offline</small>
                        </div>
                    </md-toolbar>
                    <md-content flex layout="column" layout-wrap>
                        <div class="messages_box_content" id="chatBox" scroll-to-bottom="Chat_Person.messages">
                            <div ng-repeat="message in Chat_Person.messages" class="chat-conversation-user " ng-class=" {'him':message.From=='him', 'me':message.From=='me' }">
                                <div style="padding-bottom: 12px;font-size: 80%;" ng-bind="formatDate(message.Date)">
                                </div>
                                <div class="chat_content_message">
                                    <p>
                                        {{message.msg}}
                                        <br /><small> {{message.Time}}</small>
                                    </p>
                                </div>
                            </div>
                            <div class="send_box_content" id="msgbox" layout="row">
                                <ng-form name="msgsend" layout="row">
                                    <md-icon class="material-icons md-dark md-24">
                                        photo_camera
                                    </md-icon>
                                    <input ng-model="my_message" type="text" class="message_box" ng-keyup="$event.keyCode == 13 && Send_message(my_message) " />
                                    <md-icon ng-class="{'send_active' : my_message , 'send_inactive' : !my_message}" class="material-icons  md-24" ng-click="Send_message(my_message)">
                                        send
                                    </md-icon>
                                </ng-form>
                            </div>
                        </div>


                    </md-content>
                </md-sidenav>

            </md-content>
        </md-content>
    </md-content>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <!--<script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">

    <script src="app/assets/js/d3.min.js" charset="utf-8"></script>
    <script src="app/assets/js/c3.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/view1/view1.js"></script>
    <script src="app/view2/view2.js"></script>
    <script src="app/components/version/version.js"></script>
    <script src="app/components/version/version-directive.js"></script>
    <script src="app/components/version/interpolate-filter.js"></script>

    <script src="app/assets/js/c3-angular.min.js"></script>

</body>
</html>
